
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="purilfy-section">
    <div class="container" style="width:97.1%; background-image:url(images/bg1.png);background-image:no-repeat;background-size:100%;">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 aboutus" style="background:#fff;width:95%;margin-left:0;">
                <div class="purifliy-item wow fadeInDown animated animated" style="visibility: visible;">
                    <font ><h1 style="margin:3% 0 1% 0">GIỚI THIỆU VỀ CÔNG TY</h1></font>
                    <p align="justify">
                        <font color="black" style="font-size:18px;">
                            SMS Group là một tập đoàn trẻ ,năng động và sáng tạo được thành lập vào năm 2017.Tập đoàn được thiết lập bởi một đội ngũ thời trang
                            giàu kinh nghiệm trong lĩnh vực thời trang và luôn đi theo xu hướng hiện đại. Vì nhu cầu càng ngày cao của thời trang chúng tôi
                            luôn thiết kế cho những thời trang đọc quyền và bắt kịp xu hướng của xã hội thời thời nay, do đó phục vụ của chúng tôi sẽ được phân
                            khúc từ phục vụ cho nhu cầu nam nữ , trẻ em tới trang phục cưới
                        </font>
                        <font style="text-align: center;"><center><img src="~/images/company.jpg" alt="" class="img-responsive" style="height: 470px; width: 710px; margin: 2% 0 2% 0;" /></center></font>
                        <h2 style="margin: 2% 0 1% 0;">THIẾT KẾ  THỜI TRANG CỦA TẬP ĐOÀN CHÚNG TÔI LÀ</h2>
                        <font color="black" style="font-size:18px;">
                           -    Luôn lắng nghe những mong muốn của khách hàng
                        </font></br>
                        <font color="black" style="font-size:18px;">
                            -	Tư vấn một cách nhiệt tình và phối màu đặc sắc
                        </font></br>
                        <font color="black" style="font-size:18px;">
                            -	Giá cả phải chăng
                        </font></br>
                        <font color="black" style="font-size:18px;">
                            -	Hài lòng khách hàng
                        </font></br>
                        <center>
                            <font color="red" style="font-size:22px;">
                                -	“Chúng tôi đi đầu vì chữ tín”
                            </font>
                        </center>
                    </p> 
                </div>
            </div>
        </div>
    </div>
</div>