@model IEnumerable<Doancoso.Models.CHUNGLOAI>
@foreach (var item in Model)
{   
    <ul class="multi-column-dropdown">
         <li><a href="@Url.Action("SPTheochungloai", "TTrangStore", new { id = item.MaCL})">@item.TenCL</a></li>
        
    </ul>
}


